@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply text-base md:text-lg hover:text-purple-700 dark:hover:text-[#b2aee7f1] duration-300;
}

.gallery-item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: span 2;
}

img::selection {
  color: transparent;
  background: transparent;
}

.dragging-item {
  opacity: 0;
}

/* Styles for documentation */

.indicator {
  @apply px-2 py-[1px] bg-gray-200 rounded-md  dark:bg-gray-700;
}
